/*-- scss:defaults --*/
//https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;
$primary: #1A5276  !default;
$link-color: #0E86D4 !default;
$teal: #1A5276; 
$navy: #456882;
$cold: #E3E3E3;

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

// Fonts
$sen: "Sen", sans-serif;
$font-family-base: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif !default;
$headings-font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif !default;
$body-color: $gray-900 !default;
$body-text-align:           justify !default;

// Base document colors
$navbar-bg: $teal;
$footer-bg: $teal;

/*-- scss:rules --*/
// Paragraphs


// Hyperlinks
a{
    color: blue;
}

// Figures
img:not(.about-image.rounded){
    display: block; // center figure
    margin:auto;   // center figure
}

figcaption.center {
    text-align: center;
    color: $gray-600;
    font-size: 12px;
    font-style: italic;
}

// Custom class selectors
// Highlights
.blue-bold{
    color: blue;
    font-style: bold;
}